@import "normalizer";
@import "variables";

html {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
}

.header {
  height: 100vh;
  background: #c0c0c0 url("../image/header_pic.jpg") no-repeat ;
  background-size: cover;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  font-size: 3em;
  line-height: 2;
  padding: 5% 0 5% 0;
  p {
    padding: 0 2% 0 2%;
  }
}
.header--text {
  color: $image-text-color;
  font-size: 1.6em;
  margin: 0 0 0 40%;
  padding-top: 10%;
  .author {
    font-weight: 400;
    margin: 0;
  }
  h1 {
    text-transform: uppercase;
    span {
      font-weight: 900;
    }
  }
  h3 {
    text-transform: uppercase;
  }
}

@keyframes fadein {
  from {opacity: 0; padding-top: 5%}
  to {opacity:1; padding-top: 12%}
}

.footer {
  background: #000000;
  height: 25px;
  color: $image-text-color;
  font-size: 0.8em;
  padding: 8px;
  span:nth-child(2){
    float: right;
  }
}
.footer--center {
  max-width: $max-width;
  margin: 0 auto;
  line-height: 2;
}

@media (max-width: 1450px) {
  .header--text {
    margin: 0 0 0 520px;
    padding-top: 140px;
  }
}

@media (max-width: 950px) {
  .header--text {
    margin: 0 0 0 20px;
    max-width: 240px;
    font-size: 1.4em;
  }
  .container {
    font-size: 1.4em;
  }
}
@media (orientation: landscape) and (max-width: 950px) {
  .header--text {
    padding: 15vh 0 0 60vh;
  }
  .container p {
    padding: 0 10% 0 10%;
  }
}













